* {
    box-sizing: border-box;
}

.abs {
    position: absolute;
}

.z-tr {
    transform-style: preserve-3d;
}

.m {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.box-size {
    height: 100px;
    width: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.l-y {
    animation: y-liberation 15s linear 0s infinite;
}

.l-z {
    animation: z-liberation 15s linear 0s infinite;
}

.l-z-o {
    animation: z-o-liberation 15s linear 0s infinite;
}

.x {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    backface-visibility: hidden;
}

.blue:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    transform: translateZ(-1px);
}



@keyframes y-liberation {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes z-liberation {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes z-o-liberation {
    from {
        transform: rotateZ(360deg) translateZ(50px);
    }
    to {
        transform: rotateZ(0);
    }
}